<div class="row">
  <div class="col-md-8">
    <h1 class="header">{{ title }}</h1>
  </div>
  <div class="col-md-4 btn-back-to-home">
    <button mat-button color="primary" (click)="redirectToHome()">
      Back to Home
    </button>
  </div>
</div>

<app-convertor-panel
  (currencyConversionEvent)="requestDataForHistoricalDates($event)"
></app-convertor-panel>

<div>
  <kendo-chart>
    <kendo-chart-title
      text="Historical rates for the previous year"
    ></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="historicalMonths">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series>
      <kendo-chart-series-item [data]="historicaldata">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
