<div class="row">
  <div class="col-md-8">
    <h1 class="header">{{ title }}</h1>
  </div>
  <div class="col-md-4 btn-back-to-home">
    <button mat-button color="primary" (click)="redirectToHome()">
      Back to Home
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="col-md-9">
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="text" [formControl]="amount" />
        <mat-error *ngIf="amount.errors"
          >Amount is required and should be a number</mat-error
        >
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="resetAmount()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <mat-select [formControl]="from" [disabled]="true">
        <mat-option *ngFor="let curr of currencySymbols" [value]="curr">{{
          curr
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2 btn-swap-container">
    <!-- <img src="./assets/swap-btn.svg" alt="logo" class="btn-swap"/> -->
    <mat-icon class="btn-swap">swap_horiz</mat-icon>
  </div>
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <mat-select [formControl]="to">
        <mat-option *ngFor="let curr of currencySymbols" [value]="curr">{{
          curr
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="convert()"
      [disabled]="amount.errors"
    >
      Convert
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="col-md-9">
      <input matInput type="text" [formControl]="rate" />
    </div>
  </div>
  <div class="col-md-8 converted-currency">
    <input matInput type="text" [formControl]="convertedCurrency" />
  </div>
</div>

<div>
  <kendo-chart>
    <kendo-chart-title
      text="Historical rates for the previous year"
    ></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="historicalMonths">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series>
      <kendo-chart-series-item [data]="historicaldata">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
