/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.row {
  margin: 30px 0px;
  padding-left: 0px;
  padding-right: 0px;
  .header {
    margin: 50px 20px;
  }
  .btn-swap-container {
    text-align: center;
  }
  .mat-button,
  .mat-input,
  .mat-form-field {
    width: 100%;
  }
  mat-icon.btn-swap {
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
  }
  .converted-currency {
    font-weight: bold;
  }
}
